<section>
  <div class="row">
    <div class="col-4">
      <div class="title">
        <i class="arrow"><</i>
        <span>Alterar forma de pagamento</span>
      </div>
      <div class="subtitle">
        <img src='../assets/icons/cartao.svg'>
        <div class="desc">Adicione um novo cartão de crédito</div>
      </div>
      <div class="cartao">
        <div class="bg-cartao"><!-- --></div>
      </div>
    </div>
    <div class="col-8">
      <ul class="breadcrumb">
        <li><a href="#"><i class="check">✔</i>Carrinho</a></li>
        <li><a href="#"><i>2</i>Pagamento</a></li>
        <li><a href="#"><i>3</i>Confirmação</a></li>
      </ul>
      <div class="material_block">
        <form>
          <div class="material_input">
            <input type="text" required onclick="bortop(0)">
            <span class="highlight"></span>
            <span class="bar"></span>
            <label id="mla">Número do cartão</label>
          </div>
          <div class="material_input">
            <input type="password" required>
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>Nome (igual ao cartão)</label>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
