* {
  font-family:Verdana;
  color: #fff;
}
section {
  width: 1024px;
  height: 596px;
  margin: 0 auto;
  margin-top: 50px;
  .row {
    margin-left: 0;
    margin-right: 0;
    .col-4 {
      background: #DE4B4B 0% 0% no-repeat padding-box;
      height: 596px;
      .title {
        padding-top: 53px;
        text-align: center;
        .arrow {
          font-size: 16px;
          margin-right: 10px;
        }
        span {
          letter-spacing: -0.01px;
          font-size: 13px;
        }
      }
      .subtitle {
        img {
          margin-left: 45px;
        }
        display: flex;
        justify-content: center;
        padding-top: 50px;
        .desc{
          width: 207px;
          font-weight: bold;
          font-size: 20px;
          margin-left: 15px;
        }
      }
      .cartao {
        .bg-cartao {
          background-image: url("../assets/icons/masc-cartao.svg");
          background-repeat: no-repeat;
          height: 224px;
          width: 365px;
          margin-left: 45px;
          margin-top: 30px;
        }
      }
    }
    .col-8 {
      /*forms*/
      .material_block
      {
        max-width: 440px;
        padding: 20px;
        margin: 2% auto;
      }

      .material_input
      {
        position: relative;
        margin-bottom:45px;
        margin-top: 12px;
      }

      input
      {
        font-size:18px;
        padding:10px 10px 10px 5px;
        display:block;
        width:440px;
        border:none;
        color: #DE4B4B;
        border-bottom:1px solid #C9C9C9;
        border-radius: 0px;
      }

      input:focus
      {
        outline:none;
      }

      label
      {
        color:#DE4B4B;
        font-size:17px;
        font-weight:normal;
        position:absolute;
        pointer-events:none;
        left:5px;
        top:10px;
        transition:0.2s ease all;
        -moz-transition:0.2s ease all;
        -webkit-transition:0.2s ease all;
      }

      input:focus ~ label, input:valid ~ label
      {
        font-size:17px;
        color:#f00;
        top:-20px;
      }

      .bar
      {
        position:relative;
        display:block;
        width:440px;
      }

      .bar:before, .bar:after
      {
        content:'';
        height:2px;
        width:0;
        bottom:1px;
        position:absolute;
        background:#DE4B4B;
        transition:0.2s ease all;
        -moz-transition:0.2s ease all;
        -webkit-transition:0.2s ease all;
      }

      .bar:before
      {
        left:50%;
      }

      .bar:after
      {
        right:50%;
      }

      input:focus ~ .bar:before, input:focus ~ .bar:after
      {
        width:50%;
      }

      .highlight
      {
        position:absolute;
        height:60%;
        width:325px;
        top:25%;
        left:0;
        pointer-events:none;
        opacity:0.5;
      }

      input:focus ~ .highlight
      {
        -webkit-animation:inputlighter 0.3s ease;
        -moz-animation:inputlighter 0.3s ease;
        animation:inputlighter 0.3s ease;
      }

      @-webkit-keyframes inputlighter
      {
      	from
        {
          background:#DE4B4B;
        }
        to
        {
          width:0; background:transparent;
        }
      }

      @-moz-keyframes inputlighter
      {
      	from
        {
          background:#DE4B4B;
        }
        to
        {
         width:0; background:transparent;
        }
      }
      @keyframes inputlighter
      {
      	from
        {
          background:#DE4B4B;
        }
        to
        {
          width:0; background:transparent;
        }
      }
    }
  }
}
