/*breadcrumbs*/
.breadcrumb {
  background: #fff;
  margin-top: 53px;
  margin-left: 132px;
}
ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
}
ul.breadcrumb li {
  display: inline;
  font-size: 13px;
}
ul.breadcrumb li+li:before {
  padding: 8px;
  color: #DE4B4B;
  content: ">\00a0";
}
ul.breadcrumb li a {
  color: #DE4B4B;
  text-decoration: none;
}
ul.breadcrumb li a i {
  border: 1.2px solid #DE4B4B;
  border-radius: 50%;
  width: 25px;
  text-align: center;
  color: #DE4B4B;
  margin-right: 10px;
  padding-right: 5px;
  padding-left: 4px;
}
ul.breadcrumb li a .check {
  background: #DE4B4B;
  color: #fff;
  padding-right: 4px;
  padding-left: 2px;
}
ul.breadcrumb li a:hover {
  color: #f00;
  font-weight: normal;
}
.toast-success {
  background: #4caf50;
  color: #fff;
  padding: 2%;
  border-radius: 10px;
  text-align: center;
  width: auto;
  border: 1px solid;
  margin-top: 10px;
  box-shadow: 5px 10px 8px #888888;
}
